
services:
  postgres:
    container_name: efspec-postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: efspecDb
    ports: ["5432:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    container_name: efspec-rabbitmq
    image: rabbitmq:3-management
    ports: ["5672:5672","15672:15672"]

  mongo:
    container_name: efspec-mongo
    image: mongo:8.0.12
    ports: ["27017:27017"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: cesar
      MONGO_INITDB_ROOT_PASSWORD: cesar
      MONGO_INITDB_DATABASE: admin
    volumes:
      - mongo_data:/data/db
      
  seq:
    image: datalust/seq:2025.2
    container_name: efspec-seq-log
    ports:
      - "5341:80"
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_NOAUTHENTICATION: True
    restart: unless-stopped
    volumes:
      - seq_data:/data
    
    
volumes:
  postgres_data:
    driver: local
  mongo_data:
    driver: local
  seq_data:
    driver: local    